<div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" fxFlex="40" fxLayoutAlign="start center">
        <button class="back" (click)="goback()"><i class="fa fa-arrow-left"></i>Back</button>
        </div>
                <div fxLayout="row" fxFlex="60" fxLayoutAlign="end center" fxLayoutGap="16px" class="share"> 
                                <!-- <p fxFlexAlign="centre centre">Share:</p> -->
                                <i class="share-lable">share:</i>
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-envelope"></i>
                
                </div>
</div>

<div fxLayout="row" class="question-card" fxLayoutAlign="start stretch">
        
        <div class="question-title" fxLayout="column" fxFlex="128px" fxLayoutAlign="start center">
           <div routerLink="/signup"><img src="assets/upvote-blank.png"></div>
            <h4>{{questioncard[0].votes}}</h4>
           <div routerLink="/signup">
            <img src="assets/downvote-blank.png"></div>
    

            </div>

            <div fxLayout="column" fxFlex="70">
                    
                        <h4 class="question-title">{{questioncard[0].heading}}</h4>
                        <p class="text-contain">{{questioncard[0].heading2}}</p>

                <div fxLayout="row" fxLayoutAlign="start center"> 
                                <div *ngFor="let tag of questioncard[0].tagdescription">
                                         <span class="text-contain2">{{tag}}</span>
                                 </div> 
                        
                </div>
                <div fxLayout="row" fxLayoutAlign="start end" fxLayout.lt-md="start end" fxLayoutAlign.lt-md="row">
                                <div>
                                    <img src="assets/user.jpeg" alt="not found" class="user">
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayout.lt-md="column" fxLayoutAlgin.it.md="start center"></div>                    <div>
                                        <a class="user-text user-tpe-text "><strong>{{questioncard[0].profile}}</strong>United States</a>
                                        <span class="user-type user-tpe-text" >(Migration agent)</span>
                                    </div>

                                </div>
                                <div class="date">
                                         <span class="user-tpe-text user-type">{{questioncard[0].date}}</span>
                                </div>
                

            </div>
            <div fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <i class="fa fa-lock lock"></i>
                        <i class="fa fa-font-awesome flag"></i> 
                        
                  </div>
                  
            </div>

        

        
</div>
