<div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row" fxLayoutAlign.lt-md="start center">
        <div fxLayout="row" fxFlex="40" fxLayoutAlign="start center" fxLayout="row" fxFlex.lt-md="40" fxLayoutAlign.lt-md="start center">
                <button class="back" (click)="goback()"><i class="fa fa-arrow-left fa-icon-mr"></i>Back</button>
        </div>
        <div fxLayout="row" fxFlex="60" fxLayoutAlign="end center" fxLayoutGap="16px" class="share" fxLayout.lt-md="row" fxLayoutAlign.lt-md="start stretch">
                <!-- <p fxFlexAlign="centre centre">Share:</p> -->
                <i class="share-lable">share:</i>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-envelope"></i>

        </div>
</div>

<div fxLayout="row" class="question-card" fxLayoutAlign="start stretch" fxLayout.lt-md="row" fxLayoutAlign.lt-md="start stretch">

        <div class="question-title" fxLayout="column" fxFlex="128px" fxLayoutAlign="start center" fxLayout.lt-md="column" fxFlexAlign.lt-md="start center" fxFlex.lt-md="128">
                <div routerLink="/signup"><img src="assets/upvote-blank.png"></div>
                <h4>{{questioncard[0].votes}}</h4>
                <div routerLink="/signup">
                        <img src="assets/downvote-blank.png"></div>


        </div>

        <div fxLayout="column" fxFlex="70" fxLayout.lt-md="column" fxFlex.lt-md="70">

                <h4 class="question-title">{{questioncard[0].heading}}</h4>
                <p class="text-contain">{{questioncard[0].heading2}}</p>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column" fxFlexAlign.lt-md="start center">
                        <span *ngFor="let tag of questioncard[0].tagdescription" class="text-contain2 user-info
                        ">{{tag}}</span>
                

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="start center" fxLayoutAlign.lt-md="row" class="user-info">
                        
                                <img class="user" src="assets/user.jpeg" alt="not found">
            
                            <div fxFlex="90" fxLayout="column" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlgin.it-md="start start">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row"
                                fxLayoutAlgin.it-md="start center">
                                    <span class="user-text"><strong>{{questioncard[0].profile}}</strong></span>
                                    <span class="user-text">{{questioncard[0].country}}</span>
                                    <span class="user-italic">(Migration agent)</span>
                                </div>
                                <div fxLayout="row">
                                    <span class="user-date">{{questioncard[0].date}}</span>
                                </div>
                            </div>
                        </div>      
                              
                
                <div fxLayout="column" fxLayout.lt-md="column">
                                <div fxLayout="row"  fxLayoutAlign="start center" fxLayout.lt-md="row" fxLayoutAlign.lt-md="start center">
                                    <button class="answer"><i class="fa fa-pencil fa-icon-mr"></i>Answer</button>
                                    <button class="answer comment-btn" routerLink="/login"><i class="fa fa-comment fa-icon-mr"></i>Comment</button>
                               </div>
                               
                            </div>



        </div>

                       <div fxLayout="column" fxLayout.lt-md="column">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center center">
                        <i class="fa fa-lock lock"></i>
                        <i class="fa fa-font-awesome flag"></i>

                </div>

        </div>

</div>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-md="start center">
                         <div fxLayout="row" fxLayoutAlign="start center" fxFlex="85" fxLayout.lt-md="row" fxLayoutAlign.lt-md="start center" fxFlex.lt-md="85">
                                <p class="para-heading">Answer</p>
                         </div>
                        <div fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="row" fxLayoutAlign.lt-md="end center">
                                        <span class="share-lable" style="margin-bottom: 10px; margin-right:5px;">Sortby:</span>
                                <select class="form-control form-group col-sm-10 select-box">
                                                <option>Newest</option>
                                                <option>Oldest</option>
                                                <option>Votes</option>
                               </select>
                         </div>
                        
                
 </div>


<div fxLayout="row" class="question-card" fxLayoutAlign="start stretch" fxLayout.lt-md="row" fxLayoutAlign.lt-md="start center">


                <div class="question-title" fxLayout="column" fxFlex="128px" fxLayoutAlign="start center">
                        <div routerLink="/signup"><img src="assets/upvote-blank.png"></div>
                        <h4>{{0}}</h4>
                        <div routerLink="/signup">
                                <img src="assets/downvote-blank.png"></div>
        
        
                </div>
                        
                <div fxLayout="column" fxFlex="70">
                        <div fxLayout="row wrap"><i class="fa fa-check-circle" style="font-size: 20px; color:#3ab785; margin-right: 10px;"></i><h4 class="best-answer">Best Answer</h4></div>
                
                   <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="start center" fxLayoutAlign.lt-md="row">
                        
                            <img class="user" src="assets/user.jpeg" alt="not found">
        
                        <div fxFlex="90" fxLayout="column" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlgin.it-md="start start">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row"
                            fxLayoutAlgin.it-md="start center">
                                <span class="user-text"><strong>{{questioncard[0].profile}}</strong></span>
                                <span class="user-text">{{questioncard[0].country}}</span>
                                <span class="user-italic">(Migration agent)</span>
                            </div>
                            <div fxLayout="row">
                                <span class="user-date">{{questioncard[0].date}}</span>
                            </div>
                        </div>
                    </div>      
                               

                        <div>
                               
                                <p class="text-contain">All travelers in the group must enter and depart China on the same flight, at the same time, using the same port of entry and exit, and must use the same travel itinerary while in China.</p>
                                <div class="comment-card">
                                        <span class="user-text"><strong>{{questioncard[0].profile}}</strong></span>
                                        <span class="text-contain">Commented</span>            
                                        <span class="user-date text-contain"> 20 August 2020</span>
                                        <div fxLayout="row">
                                                        <p class="text-contain">You must apply no later than 20 days from your intended travel date.</p>   
                                         </div>
                                               
                                        <div fxLayout="row">     
                                            <a class="text-contain" href="">Desclaimer</a>
                                            
                                         </div>  
                                           
                                </div>
                               
                                
                        </div>

                        <div fxLayout="column" fxLayout.lt-md="column">
                                        <div fxLayout="row"  fxLayoutAlign="start center" fxLayout.lt-md="row" fxFlexAlign.lt-md="start center">
                                           
                                            <button class="answer comment-btn" routerLink="/login"><i class="fa fa-comment fa-icon-mr"></i>Comment</button>
                                       </div>
                                       
                                    </div>
        
        
        
                </div>
        
                 <div fxLayout="column" fxLayout.lt-md="column">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="row" fxLayoutAlign.lt-md="center center">
                                <i class="fa fa-lock lock"></i>
                                
        
                        </div>
        
                </div>
        
        </div>
        <!-- Paginationcode -->
        <!-- <div fxLayout="row" fxLayout.lt-md="row" >
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row" fxLayoutAlign.lt-md="start center">
                                <nav aria-label="..." class="active-pag">
                                                <ul class="pagination">
                                                  <li class="page-item disabled">
                                                    <a class="page-link" tabindex="-1">Previous</a>
                                                  </li>
                                                  <li class="page-item"><a class="page-link" >1</a></li>
                                                  <li class="page-item">
                                                    <a class="page-link">2 <span class="sr-only">(current)</span></a>
                                                  </li>
                                                  <li class="page-item"><a class="page-link">3</a></li>
                                                  <li class="page-item">
                                                    <a class="page-link">Next</a>
                                                  </li>
                                                </ul>
                                              </nav>
                </div>

        </div> -->
<!-- quill code -->
<div fxLayout="row" fxLayoutAlign="start stretch">
        <p class="para-heading">Your Answer</p>
</div>
<div fxLayout="column" class="comment-card question-card">
                
                   <quill-editor style="height: '200px'">
                          <div quill-editor-toolbar>
                                               
                                                
                                                              <span class="ql-formats">
                                                                <button class="ql-bold"></button>
                                                                <button class="ql-italic"></button>
                                                                <button class="ql-underline"></button>
                                                                
                                                              </span>
        
                                                              <span class="ql-formats">
                                                                <button class="ql-list" value="ordered"></button>
                                                                <button class="ql-list" value="bullet"></button>
                                                                <select class="ql-align">
                                                                  <option selected></option>
                                                                  <option value="center"></option>
                                                                  <option value="right"></option>
                                                                  <option value="justify"></option>
                                                                </select>
                                                              </span>
                                 </div>
                        </quill-editor>
        <div fxLayout="row" fxLayoutAlign="end center">
              <button class="post-answer" routerLink="/login">Post Answer</button>  
        </div>
        
        
                        
        

</div>