
<!-- <div class="Mainwrapper" fxLayout="column"  fxLayoutAlign="start stretch"> -->
        

        <div class="top-navbar" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="row" fxFlexAlign.lt-md="start center">

                <div class="logo" fxFlex="15" fxLayout.lt-md="row-wrap" fxLayoutAlign.lt-md="start center" fxFlex.lt-md="20">
                        <img src="../assets/logo.png">
                </div>

        

                <div fxLayout.lt-md="row" fxLayoutAlign.lt-md="centre centre">
                        <button type="submit" class="nav-btn mx-2" routerLink="/login">Login</button>
                        <button type="submit" class="nav-btn signUp mx2" routerLink="/signup">Signup</button>

                </div>

        </div>


        <div>            
                
                         <router-outlet>
                                
                         </router-outlet>
                         
                

                
        </div>

       
        <div fxLayout="row" fxLayoutAlign="centre centre" class="footer" fxLayout.lt-md="column-reverse">
                <div fxLayout="column" fxFlex="50" fxLayoutAlign="center centre" fxFlexAlign.lt-md="start center" fxLayout.lt-md="column" fxFlex.lt-md="50" >
                        <div fxLayout="row" fxLayoutAlign="centre centre" fxLayoutGap="10px" fxLayout.lt-md="row" fxFlexAlign.lt-md="start center">
                                        <a href="#">Question</a>
                                        <span fxLayoutAlign="end center">|</span>
                                        <a href="#">Advance Search</a>
                                        <span fxLayoutAlign="end center">|</span>
                                        <a href="#">Privacy Policy</a>
        
                        </div>
                        <div fxLayout="row" fxLayoutAlign="centre centre" fxLayout.lt-md="column">
                                        <span> © Copyright Shenovi.</span>
                        </div>

                </div>
                
                <div class="column" fxLayoutAlign="end center" fxFlex="50" fxLayout.lt-md="row-reverse" fxFlexAlign.lt-md="start start">
                       
                                <div class="footer-icon" fxLayout="row" fxLayout="center center" fxLayoutGap="20px" fxLayout.lt-md="row"  fxLayoutAlign.lt-md="start center"> 
                                                <i class="fa fa-facebook-square" tooltop="Facebook"></i>
                                                <i class="fa fa-linkedin-square"></i>
                                                <i class="fa fa-twitter"></i>
                                                <i class="fa fa-weixin"></i>
                                </div>
                       
                </div>
                

        </div>


        

<!-- </div> -->
