.Mainwrapper
{
    width: 100%;
}
.top-navbar
{
    background-color: darkblue;
    height:100px;
    width:100%;
}
.logo
{
background-image: url('../assets/logo.png');
height:50px;
width: 15%;
margin-left: 50px;


}
.footer
{
    background-color: #5c6bc0;;
    height: 190px;
}
.footer span
{
    color: white;
}
.footer a
{
    color: white;
    font-size: 16px;
}
.nav-btn
{
    padding: 4px 30px;
    border-radius: 50px;
    background-color: darkblue;
    border:2px solid  #ffd32a;
    color:#ffd32a;
    
    
    
}
.nav-btn:hover{
background-color:#5c6bc0 ;
}
.signUp
{
    background-color:#ffd32a;;
    color: blue;
    margin-right: 50px;
    margin-left: 10px;
}
.signUp:hover
{
    background-color:#ead47c;
    
}
.mx-2
{
    margin-left: 5px;
}
