
<div class="Mainwrapper" fxLayout="column" fxLayoutAlign="start stretch">
        

        <div class="top-navbar" fxLayout="row" fxLayoutAlign="space-between center">

                <div class="logo"></div>


                <div>
                        <button type="submit" class="nav-btn mx-2" routerLink="/login">Login</button>
                        <button type="submit" class="nav-btn signUp mx2" routerLink="/signup">Signup</button>

                </div>

        </div>


        <div>            
                
                         <router-outlet></router-outlet>

                <!-- <img src="./assets/home.jpg" alt="home-content-image"> -->
        </div>


        <div fxLayout="row" class="footer" fxLayoutAlign="start center">
                <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="footer-content">
                                <a href="#">Quetion</a>
                                <span fxLayoutAlign="end center">|</span>
                                <a href="#">Advance Search</a>
                                <span fxLayoutAlign="end center">|</span>
                                <a href="#">Privacy Policy</a>

                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                                <span> © Copyright Shenovi.</span>
                        </div>


                </div>



        </div>

</div>
<!-- <div fxLayout="column" fxLayoutAlign="" fxLayoutGap="10px"> 
                <div class="div1"></div>
                <div class="div2"></div>
                 <div class="div3"></div>
                <div class="div4"></div>
                </div> -->