
<div fxLayout="row" fxLayoutAlign="center center" class="sidebar">
    <div fxLayout="column" fxLayoutAlign="center center" >
        
         <button class="btn" ><i class="fa fa-pencil"></i><strong>Ask A Question</strong></button>
        <div class="vertical-menu">
                <ul>
                        <li><a routerLink="/sidebar" class="menu-item" routerLinkActive ="active">Home</a></li>
                        <li><a routerLink="/public" routerLinkActive="active">Public Forums</a></li>
                        <li><a href="#">Contact</a></li>
                        
                      </ul>
                
        </div>
        
    </div>
    
    
  
</div>
