<!-- <p>topquestions works!</p> -->

<div fxLayout="column" fxLayoutAlign="start stretch" class="contain">
    <!-- <div><router-outlet></router-outlet></div> -->
    <h1>Top Question</h1>
    <div>
        <span class="active-cat">Votes</span>
        <span class="normal">Hot</span>
        <span class="normal">Answered</span>
        <span class="normal">Unanswered</span>

    </div>

    <div class="question-card" fxLayout="row" fxLayoutAlign="start">
        <div fxLayout="column" class="details-card" fxLayoutAlign="start center">
            <span>
                <h2>1</h2>
                <strong>Votes</strong>
            </span>

            <span class="has-best-answer">
                <h2 fxLayoutAlign="center center">6</h2>
                <strong>Answere</strong>

            </span>
            <p class="views" fxLayoutAlign="center center">63 Views</p>


        </div>


        <div fxLayout="column" class="question-title" fxLayoutAlign="start stretch">
            <a>Edit 2- Migration Agent - Post to Public Forum</a>
            <p class="text-contain">Migration Agent - Post to Public Forum 2</p>
            <div fxLayout="row" fxLayoutAlign="center center">

                <span class="text-contain2">Tenceny</span>
                <span class="text-contain2">Home Stay</span>
                <span class="text-contain2">Volunteering</span>
                <span class="text-contain2">HECS-HELP</span>
                <span class="text-contain2">601 Electronic Travel Visa</span>


            </div>

            <div fxLayout="row" fxLayoutAlign="start end">
                <div>
                    <img src="assets/user.jpeg" alt="not found" class="user">
                </div>
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <div>
                        <a class="user-text user-tpe-text "><strong>Shinovi Migration,</strong>United States</a>
                        <span class="user-type user-tpe-text">(Migration agent)</span>
                    </div>
                    <div>
                        <span class="user-tpe-text user-type">Asked 19 December 2019</span>
                    </div>
                </div>
            </div>