<!-- <p>topquestions works!</p> -->

<div fxLayout="column" fxLayoutAlign="start stretch" *ngFor="let card of questionCard" >


    <div class="question-card" fxLayout="row" fxLayoutAlign="start">
        <div fxLayout="column" class="details-card" fxLayoutAlign="centre center">
            <span>
                <h2 fxLayoutAlign="center center">{{card.votes}}</h2>
                <strong fxLayoutAlign="center center"> Votes</strong>
            </span>

            <span class="has-best-answer">
                <h2 fxLayoutAlign="center center">{{card.answere}}</h2>
                <strong>Answere</strong>

            </span>
            <p class="views" fxLayoutAlign="center center">{{card.views}}Views</p>


        </div>


        <div fxLayout="column" class="question-title" fxLayoutAlign="start stretch">
           <div (click)="goToQuestionDetails(card.id)">{{card.heading}}</div>
    
            <p class="text-contain">{{card.heading2}}</p>
            <div fxLayout="row">

                <span class="text-contain2" *ngFor="let tag of card.tagdescription">{{tag}}</span>
                <!-- <span class="text-contain2">{{card.tagdescription}}</span>
                <span class="text-contain2">{{card.tagdescription}}</span>
                <span class="text-contain2">{{card.tagdescription}}</span>
                <span class="text-contain2">{{card.tagdescription}}</span> -->


            </div>

            <div fxLayout="row" fxLayoutAlign="start end">
                <div>
                    <img src="assets/user.jpeg" alt="not found" class="user">
                </div>
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <div>
                        <a class="user-text user-tpe-text "><strong>{{card.profile}}</strong>United States</a>
                        <span class="user-type user-tpe-text">(Migration agent)</span>
                    </div>
                    <div>
                        <span class="user-tpe-text user-type">{{card.date}}</span>
                    </div>
                </div>
            </div>