 .backclr
 {
    background-color:gainsboro;
    width: 100%;
   
}
// button
// {  padding: 4px 34px;
//     border-radius: 50px;
//     background-color: darkblue;
//     border:2px solid yellow;
//     color:yellow;
    
// }
button
{
    background-color:#ffd32a;
    color: blue;
    margin-right: 50px;
    margin-left: 20px;
    padding: 3px 34px;
    border-radius: 50px;
    border:2px solid #ffd32a;
}
button:hover
{
    background-color:#ead47c;
}
h2,h4{
    color: blue;
}




// .wrapper
// {
//     background-color: greenyellow;
//     //border :1px solid balck;
// }
// input[type=text] {
//     width: 150%;
//     padding: 3px 10px;
//     margin: 5px 10px;
//     //box-sizing: border-box;
//     background-color:rgb(78, 129, 78);
//     border: 2px solid white;
//     color:white;

//   }
//   h1{
//       margin-left: 140px;
//       color:white
//   }
//   input[type=submit] { 
//     width: 150%;
//     padding: 3px 10px;
//     margin: 5px 10px; 
//     background-color:rgb(78, 129, 78);
//     border: 2px solid white; 
//     color:white;

//   }
//   input[type=checkbox] { 
//    margin-right: 50px;
//     background-color:rgb(78, 129, 78);
   

//   }

