

<div fxLayout="row" fxLayoutAlign="center center" class="sidebar">
    <div fxLayout="column" fxLayoutAlign="center center">
        
         <button class="btn" ><i class="fa fa-pencil"></i><strong>Ask A Question</strong></button>
        <div class="vertical-menu">
                <ul>    
                        <li><a routerLink="/dashboard" class="menu-item"><i class="fa fa-home icon"></i>Home</a></li>
                        <li><a class="menu-item"><i class="fa fa-user icon"></i>Public Forums</a></li>
                        <li><a class="menu-item"><i class="fa fa-user icon"></i>Community</a></li>
                        
                      </ul>
                
        </div>
        
    </div>
    
    
  
</div>
