
<div fxLayout="row wrap" fxLayoutfxLayout="row wrap" fxLayoutAlignAlign="start center" fxLayoutGap="10px">
    <h1>Top Questions</h1>
</div>
<div fxLayout.lt.md="row-wrap" fxLayout="row wrap" fxLayoutfxLayout="row wrap" fxLayoutAlignAlign="start center"
    fxLayoutGap="10px">

    <span class="normal">Votes</span>
    <span class="normal">Hot</span>
    <span class="normal">New</span>
    <span class="normal">Answered</span>
    <span class="normal">Unanswered</span>

</div>


<div fxLayout="column" fxLayoutAlign="start stretch" *ngFor="let card of questioncard" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch">



    <div class="question-card" fxLayout="row" fxLayoutAlign="start" fxLayout.lt-md="row" fxLayoutAlign.lt-md="start stretch">
        <div fxLayout="column" class="details-card" fxLayoutAlign="centre center" fxLayout.lt-md="column">
            <span>
                <h2 fxLayoutAlign="center center" fxLayoutAlign.lt-md="center center">{{card.votes}}</h2>
                <strong fxLayoutAlign="center center" fxLayoutAlign.lt-md="center center"> Votes</strong>
            </span>

            <span class="has-best-answer"> 
                <h2 fxLayoutAlign="center center" fxLayoutAlign.lt-md="center center">{{card.answere}}</h2>
                <strong>Answere</strong>

            </span>
            <p class="views" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center center">{{card.views}}Views</p>


        </div>


        <div fxLayout="column" class="question-title" fxLayoutAlign="start stretch" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center start">
           <div (click)="goToQuestionDetails(card.id)">{{card.heading}}</div>
    
            <p class="text-contain">{{card.heading2}}</p>
            <div fxLayout="row" fxLayout.lt-md="column">

                <span class="text-contain2" *ngFor="let tag of card.tagdescription">{{tag}}</span>
               

            </div>

           

            <div fxLayout="row" class="user-info">
                    <div fxLayout="column">
                        <div fxLayout="row">
                                <img class="user" src="assets/user.jpeg" alt="not found">
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center">
                        <div fxLayout="row">
                                <span class="user-text"><strong>{{card.profile}}</strong></span>
                                <span class="user-text">{{card.country}}</span>
                                <span class="user-italic">(Migration agent)</span>
                        </div>
                            <div fxLayout="row">
                                <span class="user-date">{{card.date}}</span>
                            </div>
                    </div>
                </div>