.backclr
 {
    background-color:rgb(168, 199, 219);
   // width: 100%;
   height:100%;
   
}
.content-image
{
   background-image: url('../../assets/home.jpg');
   height:395px;
   //width:100vw;

}
.rapidera-img
{
   background-image: url('../../assets/rapidera.jpg');
   height: 400px;
  //width:50%;
}
.img-text
{
   font-size: 24px;
    font-weight: 600;
    color: rgba(255,255,255,.87);
   //  position: relative;
   //  top:40px;
   //  left:70px;
   margin-left:100px;
  
}
.titile
{
   font-size: 66px;
    font-weight: 700;
    font-family: Nunito,sans-serif;
    color: rgba(255,255,255,.87);
   //   position: relative;
   //  top:40px;
   //  left:70px;
   margin-left: 100px;
   padding-top: 50px;

}
.img-signup
{
   background-color:#ffd32a;
   color: #1a237e;
   margin-left: 100px;
   width: 180px;
   height: 56px;
   border-radius: 8px;
   font-size: 18px;
   font-weight: 600;
   border-color: #ffd32a;
}
