<div>
    <div class="content-image"> 
            <div class="titile">Locals Supporting Migrants</div>
            <p class="img-text">Shenovi is an open community supporting migrants.<br>
                Our mission is to connect migrants with locals and experts<br>
                to help you find answers and access services to<br>
                explore, study, work, and navigate life in Australia.</p>
                <button class="img-signup">SignUp</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="centre centre" class="backclr">
        <div fxLayout="column" fxLayoutAlign="start centre" fxFlex="50">
                    <div class="rapidera-img">
                       
                    </div>
        </div>
            <div fxLayout="column" fxLayoutAlign="end centre">
                <h1>About us</h1>
                <p>Rapidera started in 2011 with the philosophy of providing rapid iterative product development services in emerging technologies to its clients globally.

                        We believe that our client should have a great experience right from engaging with us to the final delivery of the product. We provide not just great talent but also project management and industry best design and development practices at no extra cost. We have served clients across four continents, ranging from startups to Fortune 500.<br>
                        
                        Once we agree on the scope, we take full accountability for delivery of the product. Great experience comes from working with great people. We have stringent selection criteria for our team comprising several rounds of interviews and hands on machine tests. We not only evaluate candidates technically but also culturally to make sure they are good fit in line with our values above.<br>
                        
                        Over the years we have grown our expertise in Mobile and web applications, across several technology skills - Native (iOS & Android) applications, React Native, Ionic, HTML5, Angular JS, React JS, PHP, Java, Node JS, Python, Salesforce.com<br>
                        
                        Our working model is flexible based on client preferences and we can execute projects in both T&M basis (time and material) as well as Fixed cost model. We also provide services in setting up ODC (offshore Development Centre) for the client at our location
                        
                        For more details email: sales@rapidera.com</p>
            </div>
   </div>
   
</div>